[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/fankaljead/桌面/个人资料修改.png]
row=3
col=0

[/home/fankaljead/桌面/注册.png]
row=4
col=0

[/home/fankaljead/桌面/登录.png]
row=5
col=0

[/home/fankaljead/桌面/helloworld.ui]
row=6
col=0

[回收站]
row=0
col=0

[/]
row=1
col=0

[/home/fankaljead]
row=2
col=0

